{% set resource_id = pkg.resources[0].id %}
{% set profile_url = h.url_for(controller='user', action='read', id=username) %}
<h3>{{ _("API Access") }}</h3>
<h4>{{ _("Retrieve Records") }}</h4>
<p>{% trans %}Access this data through the
  <a href="http://docs.ckan.org/en/latest/maintaining/datastore.html#the-datastore-api"
  >CKAN Datastore API</a>
  with <code>resource_id="{{ resource_id }}"</code>{% endtrans %}
</p>
<p>{% trans %}The CKAN API uses a JSON-RPC style, where you post a JSON object and receive another
  JSON object in response.{% endtrans %}</p>

<h5>{{ _("Example:") }}</h5>
{% if examples=='curl' %}
<pre><code class="bash"
>curl {{ g.site_url }}/api/action/datastore_search -d '
{
  "resource_id": "{{ resource_id }}",
  "sort": {{ h.recombinant_example(pkg.type, 'sort') }},
  "limit": 10,
  "filters": {
{{ h.recombinant_example(pkg.type, 'filters', indent=4) }}
  }
}'
</code></pre>
{% elif examples=='python' %}
<pre><code class="python"
>from ckanapi import RemoteCKAN
from pprint import pprint
ckan = RemoteCKAN('{{ g.site_url }}')
result = ckan.action.datastore_search(
    resource_id="{{ resource_id }}",
    sort={{ h.recombinant_example(pkg.type, 'sort') }},
    limit=10,
    filters={
{{ h.recombinant_example(pkg.type, 'filters', indent=8) }}
    }
)
pprint(result['records'])</code></pre>
{% endif %}

<h4>{{ _("Create and Update Records") }}</h4>
<p>{% trans %}Modifying records requires an API key. Your API key is shown on your
  <a href="{{ profile_url }}">profile page</a>.{% endtrans %}
</p>

<p>{% trans %}Do not include
  your API key in any code shared with other people. Use a configuration file or environment
  variable to let each user input their own key when they use your tool.
  Your API key is <em>equivalent to your password</em> and may be used to
  perform any action your user can on this site. All actions made with your API key will be
  logged as actions you performed.{% endtrans %}
</p>

<p>{% trans %}Create and update records with the "datastore_upsert" endpoint.
  Your API key must be sent as an "Authorization" header.{% endtrans %}</p>

<h5>{{ _("Example:") }}</h5>
{% if examples=='curl' %}
<pre><code class="bash"
>curl {{ g.site_url }}/api/action/datastore_upsert \
  -H"Authorization:$API_KEY" -d '
{
  "resource_id": "{{ resource_id }}",
  "records": [{
{{ h.recombinant_example(pkg.type, 'record', indent=4) }}
  }]
}'</code></pre>
{% elif examples=='python' %}
<pre><code class="python"
>from ckanapi import RemoteCKAN
ckan = RemoteCKAN('{{ g.site_url }}', apikey=API_KEY)
result = ckan.action.datastore_upsert(
    resource_id="{{ resource_id }}",
    records=[{
{{ h.recombinant_example(pkg.type, 'record', indent=8) }}
    }]
)</code></pre>
{% endif %}

<h4>{{ _("Delete Records") }}</h4>
<p>{% trans %}Deleting records requires an API key. Your API key is shown on your
  <a href="{{ profile_url }}">profile page</a>.{% endtrans %}
</p>
<p>{% trans %}First verify that the record you would like to remove is present with
the "datastore_search" endpoint{% endtrans %}<p>

<h5>{{ _("Example:") }}</h5>
{% if examples=='curl' %}
<pre><code class="bash"
>curl {{ g.site_url }}/api/action/datastore_search \
 -H"Authorization:$API_KEY" -d '
{
  "resource_id": "{{ resource_id }}",
  "filters": {
{{ h.recombinant_example(pkg.type, 'filter_one', indent=4) }}
  }
}'
</code></pre>
{% elif examples=='python' %}
<pre><code class="python"
>from ckanapi import RemoteCKAN
from pprint import pprint
ckan = RemoteCKAN('{{ g.site_url }}', apikey=API_KEY)
result = ckan.action.datastore_search(
    resource_id="{{ resource_id }}",
    filters={
{{ h.recombinant_example(pkg.type, 'filter_one', indent=8) }}
    }
)
pprint(result['records'])</code></pre>
{% endif %}

<p>{% trans %}Remove the record returned by passing the same parameters
to the "datastore_delete" endpoint instead of "datastore_search".{% endtrans %}</p>

<h5>{{ _("Example:") }}</h5>
{% if examples=='curl' %}
<pre><code class="bash"
>curl {{ g.site_url }}/api/action/datastore_delete \
 -H"Authorization:$API_KEY" -d '
{
  "resource_id": "{{ resource_id }}",
  "filters": {
{{ h.recombinant_example(pkg.type, 'filter_one', indent=4) }}
  }
}'
</code></pre>
{% elif examples=='python' %}
<pre><code class="python"
>ckan.action.datastore_delete(
    resource_id="{{ resource_id }}",
    filters={
{{ h.recombinant_example(pkg.type, 'filter_one', indent=8) }}
    }
)</code></pre>
{% endif %}

<p>
{% trans %}If you have modified these API Access instructions for
another programming language please send them to
<a href="mailto:open-ouvert@tbs-sct.gc.ca">open-ouvert@tbs-sct.gc.ca</a>
and we may be able to post them here as well.
{% endtrans %}
</p>
