<h3>{{ _("Data dictionary") }}</h3>

  <div class="form-group control-medium">
    <div class="form-control">
      <a class="button" href="{{ h.url_for(
        'recombinant.data_dictionary',
        dataset_type=dataset_type) }}"><span class="glyphicon glyphicon-download-alt"></span>
        {{ _('Download data dictionary') }} XLSX</a>
    </div>
    <div class="form-control">
      <a class="button" href="{{ h.url_for(
        'recombinant.schema_json',
        dataset_type=dataset_type) }}"><span class="glyphicon glyphicon-wrench"></span>
        {{ _('Schema as JSON') }}</a>
    </div>
  </div>

<h3>{{ _("Field choices reference") }}</h3>

<div class="tabpanels mrgn-bttm-md">
  {% for f in refs %}
    <details><summary>{{ f.label }}</summary>
      <dl class="mrgn-tp-md mrgn-bttm-0">
        {% for value, label in f.choices[:1000] %}
          <dt>{{ value }}</dt>
          <dd>{{ label }}</dd>
        {% endfor %}
      </dl>
    </details>
  {% endfor %}
</div>
