<section>
  <h2 id="prtable">{{_("Preview")}}</h2>
    <table id="dtprv" class="table table-striped table-borderd"
      data-module="recombinant_preview"
      data-ajax='{
          "url": "/recombinant/preview/{{ resource_name }}/{{ resource_id }}",
          "type": "POST"
        }'
      data-paging="true"
      data-server-side="true"
      data-processing="true"
      data-responsive="false"
      data-scroll-x="true"
      data-fixed-header="true"
      data-fixed-columns="true"
      data-dom='"Blifrtip"'
      data-buttons='[{
          "extend": "colvis",
          "text": "{{ _('Hide/Unhide Columns') }}"
        }]'
      data-columns='[
          {% for f in h.recombinant_get_chromo(resource_name).fields %}
            {{- "null" if 'preview_class' not in f else
              '{"className":"' | safe ~ f['preview_class'] ~ '"}' | safe }}
            {%- if not loop.last %},{% endif %}
          {% endfor %}]'>
    <thead>
      <tr class="font-small">
        {% set magic_priority_no_field_should_be_below = 2 %}
        {% for field in ds_fields %}
          <th scope="col" data-priority="dtprv-{{
              field.priority + magic_priority_no_field_should_be_below
              }}">{{field.label}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</section>
