{% set org_specifc_fields = chromo.get('org_specific_fields', []) %}
{% set choice_fields=h.recombinant_choice_fields(chromo.resource_name, all_languages=(is_published_resource and org_specifc_fields|length > 0), org_name=organization.name if organization else none) %}

<h3>{{ _("Data Dictionary") }}</h3>

<div class="form-group control-medium row">
  {%- set excel_dictionary_link = h.url_for('recombinant.data_dictionary', dataset_type=chromo.dataset_type) -%}
  {%- set json_dictionary_link = h.url_for('recombinant.schema_json', dataset_type=chromo.dataset_type) -%}
  {%- if is_published_resource -%}
    {%- set excel_dictionary_link = h.url_for('recombinant.published_data_dictionary', dataset_type=chromo.dataset_type) -%}
    {%- set json_dictionary_link = h.url_for('recombinant.published_schema_json', dataset_type=chromo.dataset_type) -%}
  {%- elif org_specifc_fields -%}
    {%- set excel_dictionary_link = h.url_for('recombinant.org_based_data_dictionary', dataset_type=chromo.dataset_type, org_name=organization.name if organization else none) -%}
    {%- set json_dictionary_link = h.url_for('recombinant.org_based_schema_json', dataset_type=chromo.dataset_type, org_name=organization.name if organization else none) -%}
  {%- endif -%}
  <div class="col-md-6">
    <a class="button" href="{{- excel_dictionary_link -}}"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;{{- _('Download data dictionary') }} XLSX</a>
  </div>
  <div class="col-md-6">
    <a class="button" href="{{- json_dictionary_link -}}"><span class="glyphicon glyphicon-wrench"></span>&nbsp;{{- _('Schema as JSON') -}}</a>
  </div>
</div>

{% macro dictionary_field(label, col1_class='col-md-3', col2_class='col-md-9') %}
  {% set content = caller().strip() %}
  {% if content %}
    <dt class="{{ col1_class }} text-secondary">{{ label }}</dt>
    <dd class="{{ col2_class }}">{{ content }}</dd>
  {% endif %}
{% endmacro %}

<div class="panel-group">
  {% for field in chromo.fields %}
    {% if (field.get('visible_to_public', true) and not field.get('published_resource_computed_field', false)) or (is_published_resource and field.get('published_resource_computed_field', false)) %}

      {% set field_type %}{{
        field.datastore_type[1:] ~ '[]' if field.datastore_type[0] == '_'
        else field.datastore_type }}{% endset %}

      {% set extra_info -%}
        {% call dictionary_field(_('Label')) %}
          {{ h.recombinant_language_text(field.label) }}
        {% endcall %}
        {% call dictionary_field(_('Description')) %}
          {{ h.render_markdown(h.recombinant_language_text(field.description)) |
            replace('\n', '<br>' | safe) }}
        {% endcall %}
        {% call dictionary_field(_('Obligation')) %}
          {{ _('Primary key') if field.datastore_id in chromo.datastore_primary_key
          else _('Required') if field.excel_required
          else h.recombinant_language_text(field.get('obligation', '')) }}
        {% endcall %}
        {% call dictionary_field(_('Occurrence')) %}
          {{ h.recombinant_language_text(field.get('occurrence', '')) }}
        {% endcall %}
        {% call dictionary_field(_('Character Limit')) %}
          {{ h.recombinant_language_text(field.get('max_chars', '')) }}
        {% endcall %}
        {% set choices = choice_fields.get(field.datastore_id) %}
        {% if choices %}
          {% set _class1 = 'col-md-3' %}
          {% set _class2 = 'col-md-9' %}
          {% if is_published_resource or field.datastore_id not in org_specifc_fields or not organization %}
            {% set _label = _('Choices') %}
            {% if field.datastore_id in org_specifc_fields %}{# wider table #}
              {% set _class1 = 'col-md-12' %}
              {% set _class2 = 'col-md-12' %}
            {% endif %}
          {% else %}
            {% set _label = _('Choices for ') ~ organization_display_name(organization, 120) %}
          {% endif %}
          {% call dictionary_field(_label, col1_class=_class1, col2_class=_class2) %}
            {% set table_class = 'recombinant-data-dictionary-published' if is_published_resource else 'recombinant-data-dictionary' %}
            <table class="table table-striped table-bordered table-condensed {{ table_class }}" data-module-show-label="{{ _('Show more') }}" data-module-hide-label="{{ _('Hide') }}" data-module="table-toggle-more">
              <thead>
                <tr>
                  <th scope="col">{{ _('Code') }}</th>
                  <th scope="col">{{ _('Description') }}</th>
                  {% if is_published_resource and field.datastore_id in org_specifc_fields %}
                    <th scope="col">{{ _('Valid Organizations') }}</th>
                  {% endif %}
                </tr>
              </thead>
              {% set _choices = choices %}
              {% set _more_choices = [] %}
              {% if choices|length > 30 %}
                {% set _choices = choices[:30] %}
                {% set _more_choices = choices[30:] %}
              {% endif %}
              <tbody>
                {% for code, desc in _choices %}
                  <tr>
                    <td>{{ code }}</td>
                    <td>{{ h.recombinant_language_text(desc) }}</td>
                    {% if is_published_resource and field.datastore_id in org_specifc_fields %}
                      <td>{{ '' if not desc.get('valid_orgs') else desc.get('valid_orgs').keys()|join(', ') }}</td>
                    {% endif %}
                  </tr>
                {% endfor %}
                {% if _more_choices %}
                  {% for code, desc in _more_choices %}
                    <tr class="toggle-more">
                      <td>{{ code }}</td>
                      <td>{{ h.recombinant_language_text(desc) }}</td>
                      {% if is_published_resource and field.datastore_id in org_specifc_fields %}
                        <td>{{ '' if not desc.get('valid_orgs') else desc.get('valid_orgs').keys()|join(', ') }}</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
            </table>
          {% endcall %}
        {% endif %}

      {%- endset %}
      {# render_markdown to strip snippet comments and whitespace #}
      {% set has_extra=not all_expanded and h.render_markdown(extra_info) %}

      <div class="panel{% if has_extra %} panel-default{% endif %}">
        <div class="panel-heading">
          <div class="row panel-title{% if has_extra %} collapsed{% endif %}"
          {% if has_extra %}
            role="button" data-bs-toggle="collapse" aria-expanded="false"
            href="#collapse{{ prefix }}-{{ loop.index }}"
          {% endif %}>
            <div class="col-md-1">{{ loop.index }}.</div>
            <div class="col-md-6">{{
            h.recombinant_language_text(field.label)
            or field.datastore_id
            }}</div>
            <div class="col-md-4">
              {% if has_extra  %}{{ field_type }}
              {% else %}<code>{{ field_type }}</code>
              {% endif %}
            </div>
            <div class="col-md-1">{% if has_extra  %}»{% endif %}</div>
          </div>
        </div>
        {% if has_extra or all_expanded %}
          <div id="collapse{{ prefix }}-{{ loop.index }}" role="tabpanel"
            class="panel-collapse {% if not all_expanded %}collapse{% endif %}"
            aria-labelledby="field-{{ loop.index }}">
            <div class="panel-body">
              <dl class="row">
                {% block resource_data_dictionary_field scoped %}
                  {% call dictionary_field(_('ID')) %}{{ field.datastore_id }}{% endcall %}
                  {% call dictionary_field(_('Format')) %}
                    {{ h.render_markdown(h.recombinant_language_text(field.format_type)) |
                      replace('\n', '<br>' | safe) }}
                  {% endcall %}
                  {{ extra_info }}
                {% endblock %}
              </dl>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
