<h3>{{_('Delete existing records')}}</h3>
<div class="col-md-9">
<form id="delete-form"
  class="dataset-form dataset-resource-form form-horizontal" method="post"
  action="{{ h.url_for('recombinant.delete_records', id=pkg.id, resource_id=res.id) }}">
  {{ h.csrf_input() }}
  <div class="form-group control-medium {% if errors %}has-error{% endif %}">
    <label for="bulk-delete-field" class="required" aria-required="true">
      {%- for f in h.recombinant_primary_key_fields(res.name) -%}
        {{- h.recombinant_language_text(f.label) -}}
        {%- if not loop.last -%},{% endif -%}
      {%- endfor -%}

      <strong aria-required="true" class="required">{{ _('(required)') }}</strong>
    </label>
    <textarea required
      class="form-control"
      type="input"
      name="bulk-delete"
      id="bulk-delete-field"
      onchange="setCustomValidity('')" oninvalid="{{ 'setCustomValidity(\''+_('Please fill out this field.')+ '\')' }}"
      >{% if filters %}{{ filters.get('bulk-delete', '') }}{% endif %}</textarea>
      {% if errors %}
        <span class="span-3 text-danger">
          {% for error in errors %}
            {{ error }}
          {% endfor %}
        </span><br />
      {% endif %}
      <small class="text-info">{{ _('Enter one record per line, e.g:') }}<br/><br/>
        {%- for n in range(1, 4) -%}
          {%- for f in h.recombinant_primary_key_fields(res.name) -%}
            {{- h.recombinant_language_text(f.label) }} {{ n -}}
            {%- if not loop.last -%},{% endif -%}
          {%- endfor -%}
          <br/>
        {%- endfor -%}
      </small>
    </div>
  <div>
  </div>
  <div class="clearfix"></div>
  <div class="form-actions form-group recombinant-delete-button-wrapper">
    <input class="btn btn-danger" type="submit" value="{{_('Delete')}}"/>
  </div>
</form>
</div>

