<h3>{{_('Delete existing record')}}</h3>
<div class="col-md-9">
<form id="delete-form" class="dataset-form dataset-resource-form form-horizontal" method="post" action='{% url_for controller='ckanext.recombinant.controller:UploadController', action='delete_record', id=pkg.name %}'>

  {% for field in h.recombinant_primary_key_fields(pkg.type) %}
    <div class="form-group control-medium">
      <label for="{{ field.datastore_id }}">{% block field_label scoped %}{{ field.label }}:{% endblock %}</label>
      <input
        class="form-control"
        type="input"
        name="{{ field.datastore_id }}"
        id="{{ field.datastore_id }}"
        {% if filters %}value="{{ filters.get(field.datastore_id, '') }}"{% endif %}>
    </div>
  {% endfor %}
  <div>
  {% if errors %}
    <div class="span-3 form-attention">
      {% for error in errors %}
        <label>{{ error }}</label>
      {% endfor %}
    </div>
  {% endif %}
  </div>
  <div class="form-actions form-group">
    <input class="btn btn-primary" type="submit" value="{{_('Delete')}}"/>
  </div>
</form>
</div>
