<h3>{% block title %}{% endblock %}</h3>
{% block form %}
<form>
{% endblock %}
  <div class="col-md-9">
    <div class="form-group control-medium">
      {% if pkg.template_updated %}
        <div class='text-info'>{{ _('Last Updated') }}: {{ pkg.template_updated }}</div>
      {% endif %}
      <div class="form-control">
        <a class="button" href="{% url_for 'recombinant_template',
          dataset_type=pkg.dataset_type,
          lang=h.lang(),
          owner_org=pkg.owner_org %}"><span class="glyphicon glyphicon-download-alt"></span>
          {{ _('Download template Excel spreadsheet') }}</a>
      </div>
    </div>
    {% block upload_submit %}
    {% endblock %}
  </div>
  <div class="col-md-12">
    {% block messages %}
    {% endblock %}
  </div>
</form>
