{% extends 'recombinant/snippets/xls_base.html' %}

{% block title %}{{_('Create and update records')}}{% endblock %}

{% block form %}
<form enctype="multipart/form-data" id="dataset-form" class="dataset-form dataset-resource-form form-horizontal" method="post" action="{{ h.url_for('recombinant.upload', id=pkg.id) }}">
{% endblock %}

{% block upload_submit %}
<div class="col-md-6">
  <div class="col-md-12">
    <div class="form-group control-medium {% if errors %}has-error{% endif %}">
      <label for="xls_update" class="required" aria-required="true">{{ _('Upload') }}:
        <strong aria-required="true" class="required">{{ _('(required)') }}</strong>
      </label>
      {% block file_input %}
      <input required
        class="form-control"
        style="height: auto"
        type="file"
        name="xls_update"
        id="xls_update"
        oninvalid="setCustomValidity(' {{ _('You must provide a valid file') }} ')" onchange="setCustomValidity('')"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
      {% endblock %}
      {% if errors %}
        {% block errors %}
          <div class="span-3 text-danger">
            {% for error in errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endblock %}
      {% endif %}
    </div>
    <input type="hidden" name="resource_name" value="{{ resource.get('name') }}"/>
    <div class="form-actions form-group">
      <button type="submit" class="btn btn-primary" name="upload">{{_('Submit')}}</button>
      <button type="submit" class="btn btn-default" name="validate">{{_('Check for Errors')}}</button>
    </div>
  </div>
</div>
{% endblock %}

{% block messages %}
  <p id="paste-special" class="wb-dismissable">{% trans %}To ensure the validation rules within the template are maintained, please paste your data using the “Paste Values” function. This can be done by right-clicking, selecting <kbd>Paste Special</kbd> and then clicking <kbd>Unicode Text</kbd>.{% endtrans %}</p>
{% endblock %}
