{% ckan_extends %}

{% import 'macros/form.html' as form %}

{% block dictionary_form %}
  {% set chromo = h.recombinant_published_resource_chromo(res.id) %}
  {% if chromo %}
    {% for recombinant_field in chromo.fields %}
      {% set field = {} %}
      {% for _field in fields %}
        {% if _field.id != recombinant_field.datastore_id %}
          {% continue %}
        {% endif %}
        {% do field.update(_field) %}
        {% break %}
      {% endfor %}
      {% if field and recombinant_field.get('visible_to_public', true) %}
        {% set _type = recombinant_field.get('datastore_type', '') %}
        {% if _type == '_text' %}
          {% set _type = 'text[]' %}
        {% endif %}
        {% set datastore_type = field.get('info', {}).get('datastore_type', '') %}
        <h3>{{ _( "Field {num}.").format(num=loop.index) }} {{ recombinant_field.datastore_id }} (DataStore: {{ datastore_type }}; Recombinant: {{ _type }})</h3>
        {{ form.select('info__' ~ loop.index ~ '__type_override',
          label=_('Type Override'), options=[
          {'name': '', 'value': ''},
          {'name': 'text', 'value': 'text'},
          {'name': 'numeric', 'value': 'numeric'},
          {'name': 'timestamp', 'value': 'timestamp'},
          ], selected=field.get('info', {}).get('type_override', '')) }}

        {{ form.input('info__' ~ loop.index ~ '__label_en',
          label=_('English Label') ~ ' (Recombinant)', id='field-f' ~ loop.index ~ 'label_en',
          value='', placeholder=h.recombinant_language_text(recombinant_field.get('label', ''), 'en'), classes=['control-full'],
          attrs={'class': 'form-control', 'readonly': true, 'style': 'pointer-events: none;', 'tabindex': '-1'}) }}

        {{ form.input('info__' ~ loop.index ~ '__label_fr',
          label=_('French Label') ~ ' (Recombinant)', id='field-f' ~ loop.index ~ 'label_fr',
          value='', placeholder=h.recombinant_language_text(recombinant_field.get('label', ''), 'fr'), classes=['control-full'],
          attrs={'class': 'form-control', 'readonly': true, 'style': 'pointer-events: none;', 'tabindex': '-1'}) }}

        {{ form.textarea('info__' ~ loop.index ~ '__notes_en',
          label=_('English Description') ~ ' (Recombinant)', id='field-d' ~ loop.index ~ 'notes_en',
          value='', placeholder=h.recombinant_language_text(recombinant_field.get('description', ''), 'en'),
          attrs={'class': 'form-control', 'readonly': true, 'style': 'pointer-events: none;', 'tabindex': '-1'}) }}

        {{ form.textarea('info__' ~ loop.index ~ '__notes_fr',
          label=_('French Description') ~ ' (Recombinant)', id='field-d' ~ loop.index ~ 'notes_fr',
          value='', placeholder=h.recombinant_language_text(recombinant_field.get('description', ''), 'fr'),
          attrs={'class': 'form-control', 'readonly': true, 'style': 'pointer-events: none;', 'tabindex': '-1'}) }}
      {% endif %}
    {% endfor %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
