{% extends 'package/base_form_page.html' %}

{% set pkg = c.pkg_dict %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  <li class="active">{% link_for _('Edit'), controller='package', action='edit', id=pkg.name %}</li>
{% endblock %}

{% block primary_content %}
  <header class="module-content page-header"></header>
  <section class="module-poster">
    <div class="module-content">

    {% snippet "recombinant/snippets/xls_upload.html", pkg=pkg %}
    </div>
  </section>
{% endblock %}

