{% extends 'package/base_form_page.html' %}

{% set pkg = c.pkg_dict %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {% set organization = pkg.organization.title or pkg.organization.name %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}
  <li class="active">{% link_for _('Update') ~ ' ' ~ _(pkg.title), controller='package', action='edit', id=pkg.name %}</li>
{% endblock %}

{% block primary_content %}
  <header class="module-content page-header"></header>
  <div class="wet-boew-tabbedinterface tabs-style-3 auto-height-none">
    <ul class="tabs">
      <li class="default"><a href="#tabs_update">{{ _("Update") }}</a></li>
    </ul>
    <div class="tabs-panel">
      <div id="tabs_update">
        <div class="module-content">
          {% if h.check_access('package_update', {'id': pkg.id }) %}
            {% snippet "recombinant/snippets/xls_upload.html",
              pkg=pkg, errors=errors %}
          {% else %}
            {% snippet "recombinant/snippets/xls_download.html",
              pkg=pkg, errors=errors %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <section>
    <ul>
      {% for r in h.recombinant_show_package(pkg).resources %}
        <li>{% link_for _(r.description),
          controller='ckanext.recombinant.controller:PreviewController',
          action='preview_table', id=pkg.id, resource_id=r.id %}:
          {{ ngettext("%(num)d row", "%(num)d rows", r.datastore_rows)
            |format(num=r.datastore_rows) }}</li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
