{% extends "page.html" %}

{% block subtitle %}{{ _("Refresh Recombinant Resource") }}{% endblock %}

{% block primary_content_inner %}
  {% block form %}
    <section class="alert alert-danger{{ ' ' ~ classes | join(' ') }}">
      <h3>{{_('Errors in Recombinant Resource')}}</h3>
      <p>{{ _('The Recombinant resource is out of date:') }}</p>
      <ul>
          <li>{{ _('Field(s) <em>{0}</em> do not exist in the database for this resource.').format(key_errors) }}</li>
      </ul>
    </section>

    <div class="clearfix"></div>

    <p>{{ _('You can refresh your resource in the database to try to solve the problem.') }}</p>

    <div class="clearfix"></div>

    <p class="form-actions">
      <form id="recombinant-refresh-form" action="{{ h.url_for('recombinant.refresh_dataset', resource_name=res_name, owner_org=owner_org) }}" method="post">
        {{ h.csrf_input() }}
        <input type="hidden" name="dataset_id" value="{{ dataset_id }}"/>
        <button class="btn" type="submit" name="cancel" >{{ _('Cancel') }}</button>
        <button class="btn btn-info" type="submit" name="confirm" >{{ _('Confirm Refresh') }}</button>
      </form>
    </p>
  {% endblock %}
{% endblock %}
