{% extends 'package/base_form_page.html' %}

{% block page_title %}<h1 id="wb-cont" property="name">{{ _(resource.description) }}</h1>{% endblock %}
{% block subtitle %}{{ _(resource.description) }}{% endblock %}
{%- macro organization_display_name(org) -%}
  {%- block organization_display scoped -%}
    {%- set org_title = org.title or org.name -%}
    {{- org_title|truncate(60) -}}
  {%- endblock -%}
{%- endmacro -%}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _(resource.description), named_route='recombinant_type',
    resource_name=resource.name %}</li>
  <li class="active">{{ organization_display_name(organization) }}</li>
{% endblock %}

{% block primary_content %}
  <ul class="nav nav-pills mrgn-bttm-sm">
    {% for r in dataset.resources %}
      <li {% if r.id == resource.id %}class="active"{% endif %}>{%
        link_for _(r.description) ~ ': ' ~ 
          ngettext("%(num)d "+_('row'), "%(num)d "+_('rows'), r.datastore_rows)
          |format(num=r.datastore_rows),
        named_route='recombinant_resource',
        resource_name=r.name, owner_org=dataset.owner_org %}</li>
    {% endfor %}
  </ul>

  {% snippet "recombinant/snippets/org_select.html",
    selected=organization, resource_name=resource.name,
    organization_display_name=organization_display_name %}

  {% set refs = h.recombinant_choice_fields(resource.name) %}
  <div class="wb-tabs">
    <div class="tabpanels">
      {% block update_panel %}
        <details id="update" {% if errors %}open="open"{% endif %}>
          <summary><span class="glyphicon glyphicon-import"></span>
            {{ _("Import") }}
          </summary>
          {% if h.check_access('package_update', {'id': dataset.id }) %}
            {% snippet "recombinant/snippets/xls_upload.html",
              pkg=dataset, errors=errors %}
          {% else %}
            {% snippet "recombinant/snippets/xls_download.html",
              pkg=dataset, errors=errors %}
          {% endif %}
        </details>
      {% endblock %}
      {% if h.check_access('package_update', {'id': dataset.id }) %}
        <details {% if delete_errors %}open="open"{% endif %} id="delete">
          <summary><span class="glyphicon glyphicon-remove"></span>
            {{ _("Delete") }}</summary>
          {% snippet "recombinant/snippets/delete.html",
            pkg=dataset, res=resource, errors=delete_errors, filters=filters %}
        </details>
      {% endif %}
      {% if refs %}
        <details id="reference">
          <summary><span class="glyphicon glyphicon-th-list"></span>
            {{ _("Reference") }}
          </summary>
          {% snippet "recombinant/snippets/choices_reference.html", refs=refs %}
        </details>
      {% endif %}
      <details id="api">
        <summary><span class="glyphicon glyphicon-wrench"></span>
          {{ _("API Access") }}
        </summary>
        {% snippet "recombinant/snippets/api_access.html",
          pkg=dataset, username=c.userobj.name, resource=resource %}
      </details>
    </div>
  </div>
{% endblock %}

{# syntax hilighting for API docs above #}
{% block links %}
{{ super() }}
<style>
.code-block pre {display: none}
.code-block.lang-python pre.python {display: block}
.code-block.lang-curl pre.bash {display: block}
</style>
{% endblock %}

{%- block scripts %}
  {{ super() }}
 <script src="{{ h.url_for_static('js/code_block_buttons.js') }}"></script>
{% endblock %}
