{% extends 'package/base_form_page.html' %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {% set organization = dataset.organization.title or dataset.organization.name %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  <li>{% link_for organization|truncate(30), controller='organization', action='read', id=dataset.organization.name %}
  <li class="active">{{ _(resource.description) }} </li>
{% endblock %}

{% block primary_content %}
<div class="col-md-9">
  <ul class="nav nav-pills mrgn-bttm-sm">
    {% for r in h.recombinant_show_package(dataset).resources %}
      <li {% if r.id == resource.id %}class="active"{% endif %}>{%
        link_for _(r.description) ~ ': ' ~ 
          ngettext("%(num)d row", "%(num)d rows", r.datastore_rows)
          |format(num=r.datastore_rows),
        named_route='recombinant_resource',
        id=dataset.id, resource_id=r.id %}</li>
    {% endfor %}
  </ul>

  {% set refs = h.recombinant_choice_fields(resource.name) %}
  <div class="wb-tabs">
    <div class="tabpanels">
      <details>
        <summary><span class="glyphicon glyphicon-plus-sign"></span>
          {{ _("Update") }}
        </summary>
        {% if h.check_access('package_update', {'id': dataset.id }) %}
          {% snippet "recombinant/snippets/xls_upload.html",
            pkg=dataset, errors=errors %}
        {% else %}
          {% snippet "recombinant/snippets/xls_download.html",
            pkg=dataset, errors=errors %}
        {% endif %}
      </details>
      {% if h.check_access('package_update', {'id': dataset.id }) %}
        <details {% if delete_errors %}open="open"{% endif %}>
          <summary><span class="glyphicon glyphicon-minus-sign"></span>
            {{ _("Delete") }}</summary>
          {% snippet "recombinant/snippets/delete.html",
            pkg=dataset, errors=delete_errors, filters=filters %}
        </details>
      {% endif %}
      {% if refs %}
        <details>
          <summary><span class="glyphicon glyphicon-th-list"></span>
            {{ _("Reference") }}
          </summary>
          {% snippet "recombinant/snippets/choices_reference.html", refs=refs %}
        </details>
      {% endif %}
      <details>
        <summary><span class="glyphicon glyphicon-wrench"></span>
          {{ _("API Access") }}
        </summary>
        {% snippet "recombinant/snippets/api_access.html",
          pkg=dataset, username=c.userobj.name, resource=resource %}
      </details>
    </div>
  </div>
</div>
{% endblock %}

{# syntax hilighting for API docs above #}
{% block links %}
{{ super() }}
<style>
.code-block pre {display: none}
.code-block.lang-python pre.python {display: block}
.code-block.lang-curl pre.bash {display: block}
</style>
{% endblock %}

{%- block scripts %}
  {{ super() }}
 <script src="{{ h.url_for_static('js/code_block_buttons.js') }}"></script>
{% endblock %}
